/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size: 100%;
}
.wrap{
	padding: 10px;
}
.header-bg{
	background: url('../images/h_bg.png') repeat-x;
}
.header{
	text-align:center;
}
.header-right {
	margin-top: 10px;
}
/*  navigation */
.ca-menu{
    padding:0;
    width:100%;
}
.ca-menu li{
	margin-bottom:5px;
    width: 100%;
    height:46px;
    overflow: hidden;
    position: relative;
    display: block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
	border: solid 1px #EB8525;
	box-shadow: inset 0px 0px 0px 1px #EB8525, 0px 1px 4px 0px rgba(0,0,0,0.10);
	background-color: #EB8525;
	background-image: -moz-linear-gradient(top, #EB8525, #EB8525);
	background-image: -webkit-linear-gradient(top, #EB8525, #6F30A0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EB8525), to(#EB8525));
	background-image: -ms-linear-gradient(top, #EB8525, #EB8525);
	background-image: -o-linear-gradient(top, #EB8525, #EB8525);
	background-image: linear-gradient(top, #EB8525, #EB8525);
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
	font-family: Arial, sans-serif;
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    position: relative;
    font-size: 1.2em;
}
.ca-icon{
	font-family: Arial, cursive;
	font-size: 20px;
	text-shadow: 0px 0px 1px #333;
	line-height: 0px;
	position: absolute;
	margin-top: 8px;
	left: 10px;
	text-align: center;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.ca-content{
    position: absolute;
    left: 55px;
    top: 0px;
    line-height: 50px;
}
.ca-main{
    font-size: 13px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub{
    font-size: 14px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:hover{
	border: solid 1px #EB8525;
	box-shadow: inset 0 0px 0 #A051C5,inset 0 0 30px #EB8525;
	color: #ffffff;
}
.back-btn {
	margin-top:10px;
	cursor: pointer;
	background: #EB8525;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}
.back-btn ul li{
	line-height: 1.5em;
}
.back-btn ul li img{
	vertical-align:top;
	margin-right: 2px;
	margin-top: 5px;
}
.back-btn ul li a {
	padding: 6px 10px;
	display:block;
	font-family: Arial, sans-serif;
	font-size:16px;
	color: #fff;	
}
/*slier*/
.fluid_container {
	margin-top: 10px;
}
.camera_overlayer {
	-webkit-box-shadow: 0px 56px 26px -56px rgb(25, 19, 19);
	-moz-box-shadow:0px 56px 26px -56px rgb(25, 19, 19);
	-o-box-shadow:0px 56px 26px -56px rgb(25, 19, 19);
}
/*  GRID OF Four   ============================================================================= */
.images_1_of_4  img{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.images_1_of_4  h3{
	margin-top:5px;
	color: #000000;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.images_1_of_4  p {
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #858585;
	line-height: 1.5em; 	
}
.images_1_of_4 .button{
	margin-top: 5px;
}
.button a{
	line-height: 1.5em;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	border: 1px solid #d4d4d4;
	padding: 5px 18px;
	font-weight: 300;
	font-size: 13px;
	color: #666666;
	text-shadow: 0 1px 1px white;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.button a:hover{
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	background: linear-gradient(top, #ffffff, #dcdcdc);
}
/*content*/
.cont-bg{
	background:#f9f9f9;
}
.grid_1_of_3.images_1_of_3 img{
	margin-top:10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
/*  GRID OF THREE   ============================================================================= */
.blog_date  img {
	margin-bottom: 0.8em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.images_1_of_3  h3{
	margin-top:10px;
	color: #000000;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.images_1_of_3 p.txt{
	margin-top:5px;
	font-size: 0.8125em;
	color: #858585;
	line-height: 1.5em;	
}
.blog_desc  p  {
	font-size: 0.8125em;
	color: #858585;
	line-height: 1.5em;	
}
.blog_posts {
	margin-bottom:10px;
}
.blog_date {
	float: left;
	width: 22.333%;
	margin-right: 15px;
}
.blog_desc {
	width:70.333%;
	float: left;
}
.blog_heading p span {
	color: #000000;
	font-size: 1.2em;
	text-transform: capitalize;
}
.blog_heading p.date {
	padding-bottom: 5px;
}
p.date span.author{
	color: #8D779C;
	text-decoration:none;
	cursor:pointer;
	font-size: 0.98em;
	text-transform:none;
}
p.date span.author:hover{
	text-decoration:underline;
}
.text1-nav ul li a {
	display: block;
	font-size: 0.8924em;
	color: #858585;
	line-height: 2.3em;
	border-bottom: 1px solid #EEEEEE;
}
.text1-nav ul li a:hover{
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	color: #000000;
}
/*footer*/
.footer-bg{
	background:url('../images/f_bg.png');
}
.span_1_of_4 h3{
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 1.6em;
	color: #858585;
}
.span_1_of_4 p{
	font-size: 0.824em;
	color: rgba(133, 133, 133, 0.63);
	line-height: 1.5em;
	margin-top: 5px;
}
.nav1 li{
 	display:inline-block;
 	font-size: 0.824em;
	color: #BBBBBB;
	line-height: 1.5em;
}
.nav1 li a{
	font-size: 1.2em;
	color: #000000;
	line-height: 1.5em;
}
.nav1 li a:hover{
	color: #bbbbbb;
	-webkit-transition: 0.9s;
}
.nav1 li a img{
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 10px;
}
.nav1 li a img:hover{
	opacity: 0.6;
}
.social-icons {
	margin: 5px 0;
}
.social-icons li {
	width:36px;
	height:36px;
	padding: 0px 0 0 10px;
	margin: 0;
	float:left;
	cursor:pointer;
}
.social-icons li:hover{
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
}
.social-icons li.facebook {
	background:url(../images/icon-2.png) no-repeat 0px  -36px;
}
.social-icons li.facebook:hover {
	background:url(../images/icon-2.png) no-repeat 0px  0px;
}
.social-icons li.twitter {
	background:url(../images/icon-3.png) no-repeat 0px  -36px;
}
.social-icons li.twitter:hover {
	background:url(../images/icon-3.png) no-repeat 0px  0px;
}
.social-icons li.contact {
	background:url(../images/icon-1.png) no-repeat 0px  -36px;
}
.social-icons li.contact:hover {
	background:url(../images/icon-1.png) no-repeat 0px  0px;
}
/*footer1*/
.footer1-bg{
	background:url('../images/f_bg1.png');
}
.footer1{
	text-align:center;
	padding: 20px;
}
.footer1 p{
	font-size: 0.824em;
	color: #FFFFFF;
	line-height: 1.5em;
}
.footer1 p.w3-link a{
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	color: #fcfcfc;
}
.footer1 p.w3-link a:hover{
	color: #F2DAFF;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
}
/*About*/
.about h3 {
	color: #000000;
	margin-bottom:10px;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.blogs h3 {
	margin-top: 10px;
	color: #000000;
	margin-bottom: 10px;
	font-size: 1.8em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.cont-grid span{
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	color: #555555;
	line-height: 1.5em;
}
.cont-grid-img img{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.cont-grid p{
	font-size: 0.8125em;
	color: #858585;
	line-height: 1.5em;
}
.about-p{
	margin-top:10px;
}
.about-p p{
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #858585;
	line-height: 1.5em;
}
.button.top {
	margin-top: 10px;
}
/*sidebar*/
/*gallery*/
h3.gallery {
	color: #000000;
	margin-bottom: 10px;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
/*light box*/
.lb-album li{
	float: left;
	margin:0 10px 10px 10px; 
	position: relative;
	width:42.333%;
}
.lb-album li:nth-child(4),.lb-album li:nth-child(8){
	margin-right: 0;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a span{
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(51, 51, 51, 0.82);
}
.lb-overlay > div{
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
	font-family: Arial, Geneva,Helvetica, sans-serif;
	background: #FFF;
	z-index: 1001;
color: #000000;
	position: absolute;
	top: 20px;
	left: 50%;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	padding:10px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
  0% { -moz-transform: scale(0.6); opacity: 0; }
  100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
  0% { -o-transform: scale(0.6); opacity: 0; }
  100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
  0% { -ms-transform: scale(0.6); opacity: 0; }
  100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}
.lb-album img {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
/*venture*/
.ser-main h4{
	color: #000000;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.ser-para p{
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #858585;
	line-height: 1.5em;
}
.ser-grid{
	float:right;
}
.ser-grid-list {
	margin-top: 10px;

}
.ser-grid-list h5{
	font-family: Arial, sans-serif;
	color: #A2A2A2;
	font-size:20px;
}
.ser-grid-list img{
	margin-top:15px;
	border: 4px solid #ffffff;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.ser-grid-list p{
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #858585;
	line-height: 1.5em;
}
.ser-grid-list.top {
	margin-top: 10px;
}
/*Contact*/
.contact-form{
	position:relative;
}
.contact-form div{
	display:block;
	padding:5px 0;
}
.contact_info h3, .contact-form h3, .company_address h3{	
	color: #000000;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.contact-form span{
	line-height: 1.5em;
	font-size: 0.824em;
	color: #555555;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size:1em;
	margin-top: 4px;
	color: #333333;
	padding: 8px;
	display: block;
	width: 94%;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(226, 226, 226, 1);
	outline: none;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.button-wrap {
	display: inline-block;
}
.contact-form {
	margin-top: 10px;
}
.contact-form input[type="submit"]{
	cursor: pointer;
	font-family: Arial, sans-serif;
	line-height: 1.5em;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	border: 1px solid #d4d4d4;
	padding: 4px 24px;
	font-weight: 300;
	font-size: 16px;
	text-transform:capitalize;
	color: #666666;
	text-shadow: 0 1px 1px white;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.contact-form input[type="submit"]:hover{
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	background: linear-gradient(top, #ffffff, #dcdcdc);
}
.company_address p{
	font-size: 0.824em;
	line-height: 1.5em;
	color: #555555;
}
.company_address p span{
	text-decoration:underline;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;
	color: #000000;
	-webkit-transition:0.9s;
}
.map{
	margin-top: 10px;
	border: 1px solid rgba(199, 199, 199, 0.19);
	margin-bottom:15px;
}
/*details*/
.details h2{
	color: #000000;
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.det-pic {
	margin:10px 0;
}
.det-pic img {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.det-para p {
	font-size: 0.824em;
	color: #555555;
	line-height: 1.5em;
}
/*404*/
.page{
	text-align:left;

}
.post-entry {padding: 0px 10px;}
.page h2{
	font-family: Arial, sans-serif;
	font-size: 8em;
	color:#858585;
}
#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 999; background-color:#ffffff}

#loading-image {position: absolute;top: 50%;left: 50%;z-index: 1000} 

label {
	display: inline-block;
	font-weight: 700;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #ccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}

select,
input[type="text"], 
input[type="password"] {
    -moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	width: 100%;
}

select {
	height: auto;
	width: 100%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;
}

input, 
select {
	cursor: pointer;
}

area:focus,
input:focus, 
textarea:focus {
    border: 1px solid #6cf;
}

input[type='text'], 
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"], 
.ie7 input[type="password"] {
    width: 96%;
}

/* =Buttons
-------------------------------------------------------------- */
button, 
a.button,
input[type='reset'], 
input[type='button'], 
input[type='submit'] {
	-moz-border-radius: 2px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-border-radius: 2px;
	background-color: #f9f9f9; /* Alabaster */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #333;
	cursor: pointer;
	display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
	font-size: 14px;
	font-weight: 700;
    line-height: 20px;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	white-space: nowrap;
}

button:hover, 
a.button:hover,
input[type='reset']:hover, 
input[type='button']:hover, 
input[type='submit']:hover {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #fff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #fff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #fff, #f1f1f1);
	background-image: -o-linear-gradient(top, #fff, #f1f1f1);
	background-image: linear-gradient(top, #fff, #f1f1f1);
	border: 1px solid #ddd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f1f1f1);
}

button:active, 
a.button:active,
input[type='reset']:active, 
input[type='button']:active, 
input[type='submit']:active {
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
    box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align: center;
}

.call-to-action a.button {
	font-size: 24px;
	padding: 15px 35px;
}

.call-to-action a.button:hover {
	text-decoration: none;
}

.ie7 .call-to-action a.button {
    padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button {
	font-size: 16px;
	padding: 8px 16px;
}

.large a.button {
	font-size: 18px;
	padding: 10px 35px;
}

.xlarge a.button {
	font-size: 24px;
	padding: 12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.blue:hover {
	background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
	background-image: linear-gradient(top, #7db7f0, #1874cd);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.red {
	background-color: #cd0000; /* Red 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);
	background-image: -moz-linear-gradient(top, #ff2323, #cd0000);
	background-image: -ms-linear-gradient(top, #ff2323, #cd0000);
	background-image: -o-linear-gradient(top, #ff2323, #cd0000);
	background-image: linear-gradient(top, #ff2323, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.red:hover {
	background-color: #ff5656;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);
	background-image: -moz-linear-gradient(top, #ff5656, #cd0000);
	background-image: -ms-linear-gradient(top, #ff5656, #cd0000);
	background-image: -o-linear-gradient(top, #ff5656, #cd0000);
	background-image: linear-gradient(top, #ff5656, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.orange {
	background-color: #ff7f00; /* Dark Orange 1 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa5), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #fa5, #ff7f00);
	background-image: -moz-linear-gradient(top, #fa5, #ff7f00);
	background-image: -ms-linear-gradient(top, #fa5, #ff7f00);
	background-image: -o-linear-gradient(top, #fa5, #ff7f00);
	background-image: linear-gradient(top, #fa5, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.orange:hover {
	background-color: #ffc388;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
	background-image: linear-gradient(top, #ffc388, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.yellow {
	background-color: #ecca06; /* Yellow Gold */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -o-linear-gradient(top, #fff2aa, #ffd700);
	background-image: linear-gradient(top, #fff2aa, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.yellow:hover {
	background-color: #fffadd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);
	background-image: -moz-linear-gradient(top, #fffadd, #ffd700);
	background-image: -ms-linear-gradient(top, #fffadd, #ffd700);
	background-image: -o-linear-gradient(top, #fffadd, #ffd700);
	background-image: linear-gradient(top, #fffadd, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.green {
	background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
	background-image: linear-gradient(top, #4bc380, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.green:hover {
	background-color: #71d09b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
	background-image: linear-gradient(top, #71d09b, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.olive {
	background-color: #838b83; /* Honey Dew 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));
	background-image: -webkit-linear-gradient(top, #afb4af, #838b83);
	background-image: -moz-linear-gradient(top, #afb4af, #838b83);
	background-image: -ms-linear-gradient(top, #afb4af, #838b83);
	background-image: -o-linear-gradient(top, #afb4af, #838b83);
	background-image: linear-gradient(top, #afb4af, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.olive:hover {
	background-color: #c9cdc9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));
	background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -o-linear-gradient(top, #c9cdc9, #838b83);
	background-image: linear-gradient(top, #c9cdc9, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.purple {
	background-color: #5d478b; /* Medium Purple 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);
	background-image: -moz-linear-gradient(top, #8771b6, #5d478b);
	background-image: -ms-linear-gradient(top, #8771b6, #5d478b);
	background-image: -o-linear-gradient(top, #8771b6, #5d478b);
	background-image: linear-gradient(top, #8771b6, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.purple:hover {
	background-color: #a492c8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);
	background-image: -moz-linear-gradient(top, #a492c8, #5d478b);
	background-image: -ms-linear-gradient(top, #a492c8, #5d478b);
	background-image: -o-linear-gradient(top, #a492c8, #5d478b);
	background-image: linear-gradient(top, #a492c8, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.pink {
	background-color: #cd1076; /* Deep Pink 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);
	background-image: -moz-linear-gradient(top, #f042a0, #cd1076);
	background-image: -ms-linear-gradient(top, #f042a0, #cd1076);
	background-image: -o-linear-gradient(top, #f042a0, #cd1076);
	background-image: linear-gradient(top, #f042a0, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.pink:hover {
	background-color: #f471b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);
	background-image: -moz-linear-gradient(top, #f471b8, #cd1076);
	background-image: -ms-linear-gradient(top, #f471b8, #cd1076);
	background-image: -o-linear-gradient(top, #f471b8, #cd1076);
	background-image: linear-gradient(top, #f471b8, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.brick {
	background-color: #b22222; /* Fire Brick */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));
	background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -o-linear-gradient(top, #dd4c4c, #b22222);
	background-image: linear-gradient(top, #dd4c4c, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.brick:hover {
	background-color: #e57777;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));
	background-image: -webkit-linear-gradient(top, #e57777, #b22222);
	background-image: -moz-linear-gradient(top, #e57777, #b22222);
	background-image: -ms-linear-gradient(top, #e57777, #b22222);
	background-image: -o-linear-gradient(top, #e57777, #b22222);
	background-image: linear-gradient(top, #e57777, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.gold {
	background-color: #8b6508; /* Dark Golden Rod 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -o-linear-gradient(top, #db9f0d, #8b6508);
	background-image: linear-gradient(top, #db9f0d, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.gold:hover {
	background-color: #f3b828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);
	background-image: -moz-linear-gradient(top, #f3b828, #8b6508);
	background-image: -ms-linear-gradient(top, #f3b828, #8b6508);
	background-image: -o-linear-gradient(top, #f3b828, #8b6508);
	background-image: linear-gradient(top, #f3b828, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.brown {
	background-color: #8b4513; /* Saddle Brown */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -o-linear-gradient(top, #d66a1d, #8b4513);
	background-image: linear-gradient(top, #d66a1d, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.brown:hover {
	background-color: #8b4513;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #e58541, #8b4513);
	background-image: -moz-linear-gradient(top, #e58541, #8b4513);
	background-image: -ms-linear-gradient(top, #e58541, #8b4513);
	background-image: -o-linear-gradient(top, #e58541, #8b4513);
	background-image: linear-gradient(top, #e58541, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.silver {
	background-color: #c0c0c0; /* Silver */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: linear-gradient(top, #eaeaea, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.silver:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #fff, #c0c0c0);
	background-image: -moz-linear-gradient(top, #fff, #c0c0c0);
	background-image: -ms-linear-gradient(top, #fff, #c0c0c0);
	background-image: -o-linear-gradient(top, #fff, #c0c0c0);
	background-image: linear-gradient(top, #fff, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.gray {
	background-color: #696969; /* Dim Gray */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));
	background-image: -webkit-linear-gradient(top, #939393, #696969);
	background-image: -moz-linear-gradient(top, #939393, #696969);
	background-image: -ms-linear-gradient(top, #939393, #696969);
	background-image: -o-linear-gradient(top, #939393, #696969);
	background-image: linear-gradient(top, #939393, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.gray:hover {
	background-color: #adadad;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));
	background-image: -webkit-linear-gradient(top, #adadad, #696969);
	background-image: -moz-linear-gradient(top, #adadad, #696969);
	background-image: -ms-linear-gradient(top, #adadad, #696969);
	background-image: -o-linear-gradient(top, #adadad, #696969);
	background-image: linear-gradient(top, #adadad, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.black {
	background-color: #080808; /* Black */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));
	background-image: -webkit-linear-gradient(top, #323232, #080808);
	background-image: -moz-linear-gradient(top, #323232, #080808);
	background-image: -ms-linear-gradient(top, #323232, #080808);
	background-image: -o-linear-gradient(top, #323232, #080808);
	background-image: linear-gradient(top, #323232, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}

a.black:hover {
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));
	background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);
	background-image: -moz-linear-gradient(top, #4c4c4c, #080808);
	background-image: -ms-linear-gradient(top, #4c4c4c, #080808);
	background-image: -o-linear-gradient(top, #4c4c4c, #080808);
	background-image: linear-gradient(top, #4c4c4c, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}