<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.2">

    <!-- versionCode is optional and Android only -->

    <name>Joemann Motors | US Cars</name>

    <description>
        US Cars und Fahrzeuge die direkt aus den USA importiert werden. 
		Technische Daten, aktueller Fahrzeugbestand, Wallpaper fürs Smartphone und vieles mehr rund um die beliebten Muscle Cars Ford Mustang, Chevrolet Camaro, Dodge Viper, Dodge Challenger, Dodge Charger, corvette und weitere.
    </description>

    <author href="http://www.tino-designs..com" email="tino@tino-designs.com">
        Tino Hartung
    </author>
    
    <icon src="icon.png" />

</widget>
